{{#if isBusy}}
  <ul class="loader-tasks">
    <li class="progress">
      <div class="determinate" style="width: {{progressPercentage}}%"></div>
    </li>
    {{#each completeTasks as |task|}}
      <li class="loader-task">
        <i class="{{doneIcon}} green-text darken-1"></i>
        <span class="task-name green-text darken-1">{{task}}</span>
      </li>
    {{/each}}
    {{#each incompleteTasks as |task|}}
      <li class="loader-task">
        <div class="preloader-wrapper active">
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <span class="task-name">{{task}}</span>
      </li>
    {{/each}}
  </ul>
{{/if}}
{{#unless isBusy}}
  {{yield}}
{{/unless}}