<h4>Map Grid</h4>
<p>A pure ember implementation of an over-head 2d grid.</p>
<p>It's neither a material nor a bootstrap asset</p>
<p>Ships with scrollability, tile numeration, and possibly zooming in the future</p>


<div>
  <button class="btn-large {{if (eq mode "query-mode") "disabled"}}" {{action "toggleMode" "query-mode"}}>
    Query Mode
  </button>
  <button class="btn-large {{if (eq mode "select-mode") "disabled"}}" {{action "toggleMode" "select-mode"}}>
    Select Mode
  </button>
  <button class="btn-large {{if (eq mode "build-mode") "disabled"}}" {{action "toggleMode" "build-mode"}}>
    Build Mode
  </button>
  <button class="btn-large {{if (eq mode "batch-mode") "disabled"}}" {{action "toggleMode" "batch-mode"}}>
    Batch Mode
  </button>
</div>

<div>
  <button class="btn-large {{if (eq ghost.ghostType "point") "disabled"}}" {{action "toggleGhost" "point"}}>
    one point
  </button>
  <button class="btn-large {{if (eq ghost.ghostType "2point") "disabled"}}" {{action "toggleGhost" "2point"}}>
    two point
  </button>
  <button class="btn-large {{if (eq ghost.ghostType "tile") "disabled"}}" {{action "toggleGhost" "tile"}}>
    tile
  </button>
</div>

{{#map-grid mode=mode action="query" as |grid|}}
  {{map-grid-polygon grid=grid model=house}}
  {{map-grid-polyline grid=grid model=road}}
  {{map-grid-tile grid=grid model=tile}}
  {{map-grid-ghost grid=grid model=ghost action="build"}}
  {{map-grid-ghost-box grid=grid action="select"}}
  {{map-grid-ghost-batch grid=grid action="batch"}}
{{/map-grid}}

{{#if lastEvent}}
  <ul>
    <li>childModel: {{lastEvent.childModel}}</li>
    <li>gridX: {{lastEvent.gridX}}</li>
    <li>gridY: {{lastEvent.gridY}}</li>
    <li>gridRelX: {{lastEvent.gridRelX}}</li>
    <li>gridRelY: {{lastEvent.gridRelY}}</li>
    <li>snapGridX: {{lastEvent.snapGridX}}</li>
    <li>snapGridY: {{lastEvent.snapGridY}}</li>
    <li>snapGridRelX: {{lastEvent.snapGridRelX}}</li>
    <li>snapGridRelY: {{lastEvent.snapGridRelY}}</li>
  </ul>
{{else}}
  <h4>Nothing yet!</h4>
{{/if}}